<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>ALA Spatial Actions</display-name>
    <!-- Reads request input using UTF-8 encoding -->
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!-- Enables clean URLs with JSP views e.g. /welcome instead of /app/welcome -->
    <!--
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    -->



    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>
	






    <!-- //// -->
    <!-- //// -->
    <!-- Handles all requests into the application -->
    <servlet>
        <servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>
                /WEB-INF/spring/app-config.xml
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <!-- /////////// -->
    <!-- Miscellaneous -->
    <welcome-file-list>
        <welcome-file></welcome-file>
    </welcome-file-list>
    <!--
    <listener>
        <description>db connection</description>
        <listener-class>org.ala.layers.util.DBConnection</listener-class>
    </listener>
    -->


    <!-- CAS Authentication related properties -->

    <context-param>
        <!-- Parameter used by CAS filters -->
        <param-name>serverName</param-name>
        <param-value>http://devt.ala.org.au:8080</param-value>
    </context-param>

    <!-- CAS filter context path - for local development - there is no context for production deployment -->
    <context-param>
        <param-name>contextPath</param-name>
        <param-value>/actions</param-value>
    </context-param>

    <context-param>
        <param-name>casServerName</param-name>
        <param-value>https://auth.ala.org.au</param-value>
    </context-param>

    <context-param>
        <param-name>uriFilterPattern</param-name>
        <!-- <param-value>/logs, /dashboard, /actions/.+</param-value> -->
        <param-value>/.+</param-value>
    </context-param>

    <context-param>
        <param-name>uriExclusionFilterPattern</param-name>
        <param-value>/log/action, /session/.+, /static/.+</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring/app-config.xml</param-value>
    </context-param>

    <!-- CAS Authentication Service filters -->
    <filter>
        <filter-name>CAS Authentication Filter</filter-name>
        <filter-class>au.org.ala.cas.client.UriFilter</filter-class>
        <init-param>
            <param-name>filterClass</param-name>
            <param-value>org.jasig.cas.client.authentication.AuthenticationFilter</param-value>
        </init-param>
        <init-param>
            <param-name>casServerLoginUrl</param-name>
            <param-value>https://auth.ala.org.au/cas/login</param-value>
        </init-param>
        <init-param>
            <param-name>gateway</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>CAS Validation Filter</filter-name>
        <filter-class>au.org.ala.cas.client.UriFilter</filter-class>
        <init-param>
            <param-name>filterClass</param-name>
            <param-value>org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</param-value>
        </init-param>
        <init-param>
            <param-name>casServerUrlPrefix</param-name>
            <param-value>https://auth.ala.org.au/cas</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
        <filter-class>au.org.ala.cas.client.UriFilter</filter-class>
        <init-param>
            <param-name>filterClass</param-name>
            <param-value>au.org.ala.cas.client.AlaHttpServletRequestWrapperFilter</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>CAS Authentication Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>CAS Validation Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
